body {
  background-color: #0093e9;
  background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
}

.custom-sidebar .menu svg {
  height: 30px;
}

.custom-sidebar {
  position: fixed;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  font-family: "Roboto", sans-serif;
  width: 80px;
  top: 24px;
  left: 24px;
  border-radius: 10px;
  box-shadow: 0 8px 32px rgba(31, 38, 135, 0.4);
  overflow: hidden;
  color: #0d1b2a;
  transition: all 400ms cubic-bezier(0.07, 0.88, 0.37, 1.05);
}

.custom-sidebar .label {
  opacity: 0;
  pointer-events: none;
  transform: translateX(-20px);
  transition: all 600ms ease;
}

.custom-sidebar:hover .label {
  opacity: 1;
  pointer-events: auto;
  transform: translateX(0);
}

.custom-sidebar:hover {
  width: 300px;
}

.custom-sidebar:hover .menu a {
  margin: 0 24px;
}

.custom-sidebar:hover .menu-title {
  padding: 0 32px;
}

.custom-sidebar .menu a {
  color: #0d1b2a;
}

.custom-sidebar .logo {
  font-size: 30px;
  font-weight: 900;
  background-image: radial-gradient(
    circle 815px at 23.4% -21.8%,
    rgba(9, 29, 85, 1) 0.2%,
    rgba(0, 0, 0, 1) 100.2%
  );
  color: #e63946;
  padding: 8px 20px;
}

.custom-sidebar .menu {
  border-top: 1px solid rgba(13, 27, 42, 0.3);
  padding: 16px 0;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.custom-sidebar .menu-title {
  font-size: 14px;
  text-transform: uppercase;
  margin: 8px 0;
  padding: 0 20px;
  transition: all 400ms ease;
}

.custom-sidebar .menu a {
  display: flex;
  gap: 24px;
  align-items: center;
  text-decoration: none;
  padding: 8px 24px;
  border-radius: 10px;
  transition: all 500ms ease;
}

.custom-sidebar .menu a:hover {
  background: rgba(255, 255, 255, 0.2);
}

.custom-sidebar .sidebar-btn {
  position: absolute;
  width: 26px;
  top: 50%;
  transform: translateY(-50%);
  right: -26px;
  background: #0d1b2a;
  color: #fff;
  display: flex;
  padding: 8px 0;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}

@media (max-width: 600px) {
  .custom-sidebar {
    overflow: visible;
    width: 300px;
    transform: translateX(-100%);
    left: 0;
  }

  .custom-sidebar.active {
    transform: translateX(0);
  }

  .custom-sidebar .label {
    opacity: 1;
    transform: translateX(0);
  }

  .custom-sidebar .logo {
    border-radius: 10px 10px 0 0;
  }

  .custom-sidebar:hover .menu-title {
    padding: 0 20px;
  }

  .custom-sidebar .menu a {
    margin: 0 24px;
  }
}
